.checkout-container{
    display: grid;
    grid-template-columns: 1fr;

    .item-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    img{
        width: 150px;
    }
}