.products-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px;
    margin-bottom: 20px;
}

.title{
   font-size: 28px;
   margin-bottom: 25px;
}