body {
  margin: 0;
  padding: 20px 20px;
  font-family: 'Golos Text', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a{
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}

*{
  box-sizing: border-box;
}

.links{
  // min-width: 30%;
  // height: 240px;
  // flex: 1 1 auto;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // border: 1px solid black;
  // margin: 0 7.5px 15px;
  // overflow: hidden;
}